{% extends 'auctions/layout.html' %}

{% block body %}
{% if message is not None %}
<h1>{{ message }}</h1>
{% endif %}
{% for i in auction_list %}
<div class="row">
    <div class="col-lg">
    <div class="box-element product">
    <div>
    {% if i.image %}
    <img class="rounded" src="media/{{ i.image }}" width="200" height="200">
    {% endif %}    
    </div>
    <h1>Listing:{{ i.title }}</h1>
    <p>{{ i.description }}</p>
    <h6>Starting Price:{{ i.starting_price }}$</h6>
</div>
{% endfor %}
{% endblock %}